
<div id="Home" class="block">
  <h2>The Bakery Bomb</h2>
<!--   <div class="popups">
    <span class="show-popup" data-popup="first-popup">Original Bomb</span>
    <span class="show-popup" data-popup="second-popup">Midnight Bomb</span>
  </div>

  <div class="buttons-effects">
    <button class="buttons-effect from-left">
      <span></span>
      <span data-scroll="About-us">About Us</span>
    </button>
  </div> -->
</div>

<!-- <div id="About-us" class="block">
  <h2>About Us</h2>
</div>

<button class="scroll-to-top">up</button>

<div class="popup first-popup">
  <div class="inner">
    <h3>The Original Cookie Bomb</h3>
    <p>The original, chocolate chip cookie bomb.</p>
    <button class="close">close</button>
  </div>
</div>
<div class="popup second-popup">
  <div class="inner">
    <h3>The Midnight Bomb</h3>
    <p>Cocoa dough loaded with milk chocolate chips.</p>
    <button class="close">close</button>
  </div>
</div>
 -->

